body{
    font-family: 'Niramit', sans-serif;
}


.board{
    width:243px;
    height:243px;
    display: inline-block;
    margin: 25px 0;
}

.game{
    text-align: center;
}

.game__stats-o-wins{
    color:#39BCD4;
}

.game__stats-x-wins{
    color: #3E8CD5;
}

.game__stats-o-wins svg{
    width:16px;
    height:16px;
}

.game__stats-o-wins path{
    stroke-linecap: round;
    stroke-linejoin: round;
    fill-opacity:0;
    stroke:#39BCD4;
    stroke-width: 4px;
}

.game__stats{
    display:flex;
    justify-content: space-around;
    align-items:center;
    font-weight: bold;
    margin: 0 calc(50% - 122px);
}

li{
    width:80px;
    height:80px;
    background: #fff;
}

ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    grid-gap: 1px;
    margin: 0;
    padding: 0;
    border:1px solid #fff;
    background: #DEDEDE;
    margin-top: -1px;
}

.tile{
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tile--x path{
    stroke-dasharray: 100 1000;
    stroke-dashoffset: 101;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill-opacity:0;
    stroke: #3989D4;
    stroke-width: 4px;
    transform-origin: 50% 50% 0;
}


.cross__path--right {
  animation: ease 0.8s normal forwards 1 running dash;
}
.cross__path--left {
  animation: .8s ease 0.3s normal forwards 1 running dash;
}

.tile--x svg{
    width:96px;
    height: 96px;
}

.tile--o svg{
    height: 48px;
    width: 48px;
}
.tile--o path{
    stroke-dasharray: 100 1000;
    stroke-dashoffset: 101;
    animation: dash 1s linear forwards;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill-opacity:0;
    stroke:#39BCD4;
    stroke-width: 4px;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
}